.about__image {
    flex-shrink: 0.9;
}

.about__image img {
    border-radius: 5px;
}

@media (width <=992px) {
    .about__wrapper {
        flex-direction: column;
    }

    .about__title {
        font-size: 30px;
    }
}

@media (width <=768px) {
    .l-grid__collapse {
        grid-template-columns: 1fr;
    }
}