.about__image {
    flex-shrink: 0.9;
}

.about__content--big {
    flex-shrink: 0.8;
}

.about__content--big2 {
    flex-shrink: 0.6;
}

.about__image img {
    border-radius: 5px;
}

.about__title {
    font-size: 35px;
}

.about__title--sm {
    font-size: 30px;
}

.about__details {
    font-size: var(--font-size-17);
    color: var(--primary-text-color);
}