.about__image {
    flex-shrink: 0.9;
}

.about__image img {
    border-radius: 5px;
}

.about__title {
    font-size: 35px;
}

.about__details {
    font-size: var(--font-size-17);
    color: var(--primary-text-color);
}

@media (max-width: 998px) {
    .about__wrapper {
       flex-direction: column;
    }
}

@media (max-width: 887px) {
    .c-collapse__title {
        font-size: 25px;
    }

    .l-grid__collapse {
        grid-template-columns: 1fr;
    }
}