/* Info */
.info__wrapper {
    width: 100%;
    max-height: 310px;
    padding: 100px 30px;
    text-align: center;
    background-color: var(--white);
    transition: var(--hover-transition);
}

.info__wrapper:hover {
    border: none;
    transform: translateY(-15px);
    border: 2px solid var(--primary-color);
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.100);
}

.info__header {
    gap: 10px;
}

.info__title {
    font-size: 25px;
    color: var(--black);
    font-weight: bolder;
}

.info__icon {
    font-size: 25px;
}

.info__body {
    gap: 6px;
}

.info__item {
    font-size: var(--font-size-17);
    color: var(--primary-text-color);
}

/* Contacts */
.contact__cta {
    gap: 20px;
}

.contact__title {
    font-size: 35px;
    border-right: 1px solid #d7d7d7;
    padding-right: 20px;
    white-space: nowrap;
}

.contact__description {
    font-size: var(--font-size-18);
    color: var(--primary-text-color);
}

.form {
    padding: 30px;
}

.field__label {
    font-weight: bolder;
}

.field:nth-child(5) {
    grid-column: 1 / span 2;
}

.field:nth-child(5) .c-input {
    resize: vertical;
}

/* Google maps */
.google__maps {
    border: 1px solid rgba(0, 0, 0, 0.158);
    width: 100%;
    height: 550px;
    border-radius: 5px;
    width: 100%;
}

@media (max-width: 1050px) {
    .l-flex__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .l-flex__info {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .contact__cta {
        text-align: center;
        flex-direction: column;
    }

    .contact__title {
        border: none;
        padding: 0;
        white-space: normal;
    }

    .form__item {
        grid-template-columns: 1fr;
    }

    .field:nth-child(5) {
        grid-column: 1 / span 1;
    }

    .c-input--primary {
        padding: 9px 14px;
    }
}

@media (max-width: 576px) {
    .form {
        padding: 20px;
    }

    .contact__title {
        font-size: var(--font-size-sm);
        text-transform: uppercase;
        font-weight: 800;
    }
}