/* Cards */
.card__body {
    padding: 100px 30px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: var(--hover-transition);
}

.card__body:hover {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.244);
}

.card__icon {
    font-size: 40px;
    color: var(--primary-color);
}

.card__paragraph {
    text-align: center;
    font-size: 18px;
}

/* Contacts */
.contact {
    position: relative;
    margin-top: 50px;
}

.contact__title {
    font-size: 32px;
}

.contact__cta {
    gap: 55px;
}

.contact__line {
    top: -4px;
    left: 24%;
    width: 1px;
    height: 50px;
    background-color: #00000023;
}

.contact__description {
    font-size: 18px;
}

.field:nth-child(4) {
    grid-column: 1 / span 3;
}