.info__wrapper {
    width: 100%;
    padding: 100px 30px;
    background-color: rgb(255, 255, 255);
    transition: var(--hover-transition);
    text-align: center;
}

.info__wrapper:hover {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.100);
    transform: translateY(-20px);
}

.info__header {
    gap: 10px;
}

.info__title {
    font-size: 23px;
    color: var(--black);
    font-weight: bolder;
}

.info__icon {
    font-size: 23px;
}

.info__body {
    gap: 6px;
}

.info__wrapper:hover>.info__body .info__item {
    color: var(--primary-color);
}

.info__item {
    font-size: var(--font-size-16px);
    color: var(--primary-text-color);
}

/* Contact form */
.contact__cta {
    gap: 20px;
}

.contact__title {
    font-size: 32px;
    border-right: 2px solid #eee;
    padding-right: 20px;
    white-space: nowrap;
}

.contact__description {
    font-size: var(--font-size-17px);
    color: var(--primary-text-color);
}

.form {
    padding: 30px;
}

.field__label {
    font-weight: bolder;
}

.field:nth-child(5) {
    grid-column: 1 / span 2;
}

/* Google maps */
.google__maps {
    border: 1px solid rgba(0, 0, 0, 0.158);
    width: 100%;
    height: 550px;
    border-radius: 5px;
    width: 100%;
}