.l-main__item--details {
    align-items: flex-start;
    gap: 50px;
}

.section {
    padding: 0px 380px 0px 0px;
}

.section.is-full {
    padding: 0;
}

.section__item {
    padding: 25px;
}

/* Card details */
.c-card--details {
    top: 224px;
    right: 0;
    transform: translateX(-36.9%);
    border: 1px solid var(--white);
    border-radius: 8px;
    z-index: 1;
}

.c-card--details.is-fixed {
    position: fixed;
    top: 20px;
}

.c-card--details.has-no-transition {
    transition: all 600ms ease-in-out;
}

.c-card--details.has-no-transition-2 {
    transition: none;
}

.c-card--details.is-top {
    top: 110px;
}

.c-card--details.is-not-fixed {
    position: relative;
    right: 0;
    top: 0;
    transform: translateX(0);
}

.c-card--details.is-not-fixed>.section {
    padding: 0px 0px 0px 0px;
}

.c-card__wrapper--width {
    width: 380px;
    height: 600px;
}

.c-card__wrapper:hover {
    transform: none;
}

.c-card__list {
    gap: 8px;
}

@media (width <=1320px) {
    .c-card--details {
        transform: translateX(-13%);
    }
}

@media (width <=1150px) {
    .l-main__item--details {
        align-items: flex-start;
        gap: 70px;
    }

    .l-main__item {
        gap: 30px;
    }

    .section {
        padding: 0;
    }

    .c-card--details {
        position: relative;
        top: 0;
        transform: translateX(0%);
    }

    .c-card--details.is-fixed {
        position: relative;
        top: 0;
    }

    .c-card--details.is-top {
        position: relative;
        top: 0;
    }
}

@media (width <=880px) {
    .l-main__item--details {
        flex-direction: column-reverse;
    }

    .c-card__wrapper--width {
        width: 100%;
    }
}

@media (width <=350px) {
    .c-card__item {
        flex-direction: column;
        word-break: break-all;
    }
}