.l-grid--c-card {
    row-gap: 100px;
    column-gap: 15px;
}

.c-card__wrapper {
    padding: 12px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.100);
    background-color: var(--white);
    gap: 20px;
}

.card__img {
    width: 100%;
    height: auto;
}

.card__img img {
    border-radius: 10px;
}

.c-card__body {
    padding: 8px;
}

.c-card__text {
    font-size: 16px;
    -webkit-line-clamp: 3;
}

.c-card__btn {
    padding: 10px 30px;
    margin-top: 10px;
}