.section {
    padding: 0px 400px 0px 0px;
}

.l-flex--details {
    padding: 25px;
}

.details__title {
    font-size: 35px;
}

/* Card details */
.card-details {
    right: 0;
    top: 224px;
    transform: translateX(-17%);
    z-index: 100px;
}

.card-details.is-fixed {
    position: fixed;
    top: 20px;
}

.card-details.has-no-transition {
    transition: all 600ms ease-in-out;
}

.card-details.is-top {
    top: 110px;
}

.card-details__wrapper {
    width: 400px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.150);
    background-color: var(--white);
    border-radius: 10px;
}

.card-details__header {
    padding: 20px;
}

.card-details__img {
    border-radius: 10px;
}

.card-details__body {
    padding: 0px 20px 20px 20px;
}

.card-details__title {
    font-size: 18px;
}

.card-details__list {
    gap: 12px;
}

@media (width <=1430px) {
    .card-details {
        top: 378px;
    }

    .card-details.is-fixed {
        top: 178px;
    }

    .card-details.is-top {
        top: 110px;
    }
}

@media (width <=1320px) {
    .card-details {
        transform: translateX(-6%);
    }
}

@media (width <=1150px) {
    .l-main__item {
        gap: 30px;
    }

    .section {
        padding: 0;
    }

    .card-details {
        position: relative;
        top: 0;
        transform: translateX(0%);
    }

    .card-details.is-fixed {
        position: relative;
        top: 0;
    }

    .card-details.is-top {
        position: relative;
        top: 0;
    }
}

@media (width <=880px) {
    .l-section--details {
        flex-direction: column-reverse;
    }

    .card-details__wrapper {
        width: 100%;
    }
}

@media (width <=330px) {
    .card-details__item {
        flex-direction: column;
        word-break: break-all;
    }
}