.l-grid--c-card {
    row-gap: 100px;
    column-gap: 25px;
}

.c-card__wrapper {
    width: 340px;
    min-height: 500px;
    border-radius: var(--primary-border-radius);
    background-color: var(--white);
    box-shadow: 1px 4px 20px -2px rgba(0, 0, 0, 0.1);
    transition: var(--hover-transition);
    overflow: hidden;
}

.c-card__wrapper:hover>.c-card__header .c-card__img {
    transform: scale(1.30);
    filter: brightness(0.6);
}

.c-card__header {
    width: 100%;
    overflow: hidden;
}

.c-card__img {
    transition: all 350ms ease-in-out;
}

.c-card__body {
    padding: 20px 24px 0px 24px;
}

.c-card__title {
    font-size: 22px;
}

.c-text--sm {
    font-size: 16.5px;
}

.c-card__btn {
    position: absolute;
    bottom: 0;
    transform: translateY(-24px);
    font-size: 16.5px;
    padding: 10px 15px;
}

.c-card__category {
    font-weight: 600;
}

.c-btn-group__item {
    border-radius: 5px;
    padding: 9px 16px;
}

.c-btn-group__item:nth-child(1),
.c-btn-group__item:nth-last-child(1) {
    padding: 9px 14px;
}