.l-section--c-card {
    background-color: #f8f9fa;
}

.l-grid--c-card {
    row-gap: 100px;
    column-gap: 25px;
    padding: 100px 0px 100px 0px;
}

.c-card__wrapper {
    width: 100%;
    /* min-height: 460px; */
    background-color: var(--white);
    transition: var(--hover-transition);
    overflow: hidden;
}

.c-card__wrapper:hover {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.230);
}

.c-card__wrapper:hover>.c-card__header .c-card__img {
    filter: brightness(0.6);
}

.c-card__header {
    width: 100%;
    padding: 15px 15px 0px 15px;
    overflow: hidden;
}

.c-card__img {
    border-radius: var(--primary-border-radius);
    transition: all 250ms ease-in-out;
}

.c-card__body {
    padding: 20px;
    justify-content: space-between;
}

.c-card__title {
    font-size: 22px;
}

.c-text--sm {
    font-size: 16px;
}

.c-card__btn {
    display: flex;
    justify-content: end;
    padding: 10px 16px;
}

.c-btn-group__item.is-active {
    color: var(--primary-color);
    background-color: var(--white);
}

.c-btn-group__dots {
    width: 5.3px;
    height: 5.3px;
    border-radius: 100px;
    background-color: var(--black);
}

.l-flex--dots {
    gap: 5px;
}



@media (width >1380px) {
    .l-grid--c-card {
        padding: 100px 35px 100px 35px;
    }
}

@media (width <=1150px) {
    .l-grid--c-card {
        column-gap: 20px;
    }
}

@media (width <=1150px) {
    .l-grid--c-card {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
    }
}

@media (width <=768px) {
    .l-grid--c-card {
        column-gap: 20px;
    }
}

@media (width <=665px) {
    .l-grid--c-card {
       grid-template-columns: 1fr;
       padding: 100px 50px 100px 50px;
    }
}

@media (width <=576px) {
    .l-grid--c-card {
       padding: 100px 0px 100px 0px;
    }
}