.c-footer {
    position: relative;
    width: 100%;
    border-top: var(--bottom-navba-border);
}

.c-footer-primary {
    padding: var(--primary-footer-padding-t-b) var(--primary-padding-l-r);
    background-color: var(--primary-footer-bg);
}

.c-brand--large {
    --logo-dimention: 150px;
    width: var(--logo-dimention);
    height: var(--logo-dimention);
}

.c-menu__icon--small {
    font-size: 18px;
}

.c-menu__icon--medium {
    font-size: 20px;
}

.c-footer__secondary {
    padding: var(--secundary-footer-padding-t-b);
    background-color: var(--secundary-footer-bg);
}

@media (width <=1320px) {
    .c-footer-primary {
        flex-wrap: wrap;
        padding: var(--primary-footer-padding-t-b) var(--secundary-padding-l-r);
        gap: 50px;
    }

    .c-brand--large {
        --logo-dimention: 130px;
        width: var(--logo-dimention);
        height: var(--logo-dimention);
    }
}

@media (width <=1150px) {
    .c-footer-primary {
        flex-wrap: wrap;
        padding: var(--primary-footer-padding-t-b) var(--mobile-padding-l-r);
        gap: 50px;
    }
}

@media (width <=675px) {
    .c-footer-primary {
        flex-direction: column;
        gap: 50px;
    }

    .c-brand--large {
        --logo-dimention: 100px;
        width: var(--logo-dimention);
        height: var(--logo-dimention);
    }
}

@media (width <=255px) {
    .c-menu__list--footer {
        grid-template-columns: 1fr;
    }
}