.c-footer {
    border-top: var(--bottom-navba-border);
}

.c-footer__primary {
    padding: var(--primary-footer-padding-t-b) var(--primary-padding-l-r);
    background-color: var(--primary-footer-bg);
}

.c-footer__secondary {
    padding: var(--secundary-footer-padding-t-b);
    background-color: var(--secundary-footer-bg);
}

@media (width <=1320px) {
    .c-footer__primary {
        flex-wrap: wrap;
        padding: var(--primary-footer-padding-t-b) var(--secundary-padding-l-r);
        gap: 50px;
    }
}

@media (width <=1150px) {
    .c-footer__primary {
        flex-wrap: wrap;
        padding: var(--primary-footer-padding-t-b) var(--mobile-padding-l-r);
        gap: 50px;
    }
}

@media (width <=665px) {
    .c-footer__primary {
        flex-direction: column;
        gap: 50px;
    }
}

@media (width <=255px) {
    .c-menu__list--footer {
        grid-template-columns: 1fr;
    }
}