:root {
    --arrow-align: 40px;
}

.header__wrapper.has-top {
    margin-top: 108px;
}

/* Company */
.company {
    z-index: 1;
    top: 50%;
    left: 0%;
    transform: translateY(-58%);
    padding: 0 var(--primary-padding-l-r);
}

.company__title {
    font-size: 55px;
    font-weight: bolder;
    line-height: 5rem;
    text-align: left;
}

.company__slogan {
    font-size: var(--font-size-text-sm);
    line-height: 1.5rem;
}

/* Card */
.card__wrapper {
    width: 100%;
    padding: 35px 30px;
    border-radius: 4px;
}

.card__wrapper--blue {
    background-color: #279de61d;
}

.card__wrapper--purple {
    background-color: #7e80e61d;
}

.card__wrapper--orange {
    background-color: #ffc8461d;
}

.card__icon {
    font-size: 55px;
    color: var(--primary-color);
}

.card__icon--blue {
    color: var(--blue);
}

.card__icon--purple {
    color: var(--purple);
}

.card__icon--orange {
    color: var(--orange);
}

.card__title {
    font-weight: 800;
}

.card__text {
    font-size: 19px;
    font-weight: 600;
}

/* About */
.about__wrapper {
    padding: 100px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background-color: #f6f9ff;
}

.about__image {
    width: 1900px;
}

/* News */
.news__wrapper {
    width: 100%;
    height: 100%;
}

.news__text {
    line-height: 1.5rem;
}

/* Top news */
.top-news {
    border-radius: var(--primary-border-radius);
    overflow: hidden;
}

.top-news__wrapper {
    width: 100%;
    height: 257px;
}

.top-news__body {
    bottom: 30px;
}

.top-news__title {
    color: var(--white);
    line-height: 1.4rem;
    font-size: 20px;
}

/* Responsiviety */
@media (width <=1320px) {
    .company {
        padding: 0 var(--secundary-padding-l-r);
    }
}

@media (width <=1150px) {
    .company {
        transform: translateY(-76%);
        padding: var(--mobile-padding-t-b) var(--mobile-padding-l-r);
    }

    .company__title {
        font-size: 50px;
        line-height: 4.2rem;
    }

    .company__btn {
        padding: 12px 20px;
    }
}

@media (width <=992px) {
    .l-grid--slider-news {
        grid-template-columns: 1fr;
    }

    .l-row__wrapper--about {
        flex-direction: column;
    }

    .about__image {
        width: 500px;
    }

    .top-news__wrapper {
        height: 350px;
    }
}

@media (width <=768px) {
    .company__title {
        font-size: 45px;
        line-height: 3.5rem;
    }

    .company__btn {
        padding: 12px 16px;
    }

    .about__wrapper {
        padding: 0px 20px;
    }

    .l-grid--top-news {
        grid-template-columns: 1fr;
    }
}

@media (width <=576px) {
    .company__title {
        font-size: 35px;
        line-height: 3rem;
    }

    .company__btn {
        padding: 12px 14px;
        font-size: 16px;
    }

    .about__image {
        width: 100%;
    }
}

@media (width <=480px) {
    .company {
        transform: translateY(-78%);
        padding: var(--mobile-padding-t-b) var(--mobile-padding-l-r);
    }

    .company__wrapper {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .company__title {
        text-align: center;
        font-size: 30px;
        line-height: 2.5rem;
    }
}