:root {
    --arrow-align: 40px;
    --slider-transition: all 500ms ease-in-out;
}

.company {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0%;
    transform: translateY(-40%);
    padding: 0 var(--primary-padding-l-r);
}

.company__title {
    font-size: 55px;
    font-weight: bolder;
    line-height: 5rem;
}

.company__slogan {
    line-height: 1.5rem;        
}

/* Slider  */
.slider {
    position: relative;
    width: 100%;
    height: calc(100vh - 108px);
    overflow: hidden;
}

.slider__wrapper {
    display: flex;
    width: 400%;
    height: 100%;
}

.slider__item {
    width: 25%;
    height: 100%;
    filter: brightness(0.5);
    transition: var(--slider-transition);
}

/* Navegation buttons */
.navegation {
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.navegation__btn {
    position: relative;
    width: 13px;
    height: 13px;
    border-radius: 100px;
    background-color: #ffffff33;
    transition: var(--hover-transition);
}

.navegation__btn:hover {
    background-color: var(--white);
}

.radio-btn--1:checked~.slider__item--1 {
    margin-left: 0;
}

.radio-btn--2:checked~.slider__item--1 {
    margin-left: -25%;
}

.radio-btn--3:checked~.slider__item--1 {
    margin-left: -50%;
}

.radio-btn--4:checked~.slider__item--1 {
    margin-left: -75%;
}

.radio-btn--1:checked~.navegation .navegation__btn--1 {
    background-color: rgb(255, 255, 255);
}

.radio-btn--2:checked~.navegation .navegation__btn--2 {
    background-color: rgb(255, 255, 255);
}

.radio-btn--3:checked~.navegation .navegation__btn--3 {
    background-color: rgb(255, 255, 255);
}

.radio-btn--4:checked~.navegation .navegation__btn--4 {
    background-color: rgb(255, 255, 255);
}

/* Slider control */
.slider__control {
    top: 50%;
    z-index: 1;
    font-size: 28px;
    padding: 50px 16px;
    border-radius: 7px;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.300);
    transition: var(--hover-transition);
}

.slider__control:hover {
    color: var(--white);
}

.slider__control:hover {
    background-color: #eeeeee27;
}

.slider__control--prev {
    left: var(--arrow-align);
}

.slider__control--next {
    right: var(--arrow-align);
}

/* Responsiviety */
@media (max-width: 1320px) {
    .company {
        padding: 0 var(--secundary-padding-l-r);
    }

    .slider__control {
        display: none;
    }
}

@media (max-width: 1150px) {
    .company {
        transform: translateY(-60%);
        padding: var(--mobile-padding-t-b) var(--mobile-padding-l-r);
    }

    .company__title {
        font-size: 45px;
        line-height: 4.2rem;
    }

    .company__btn {
        padding: 12px 20px;
    }
}

@media (max-width: 720px) {
    .company__title {
        font-size: 35px;
        line-height: 3.5rem;
    }

    .company__btn {
        padding: 12px 16px;
    }

    .navegation__btn {
        width: 13px;
        height: 13px;
    }
}

@media (max-width: 465px) {
    .company__title {
        font-size: 30px;
        line-height: 3rem;
    }

    .company__slogan {
        font-size: 14px;
         /* line-height: normal; */
    }

    .company__btn {
        padding: 12px 14px;
    }
}