:root {
    --arrow-align: 40px;
    --slider-transition: all 500ms ease-in-out;
}

.company {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0%;
    transform: translateY(-40%);
    padding: 0 var(--primary-padding-l-r);
}

.company__title {
    font-size: 55px;
    font-weight: bolder;
}

.company__btn {
    position: relative;
    display: inline-block;
}

/* Slider  */
.slider {
    position: relative;
    max-width: 100%;
    height: calc(100vh - 108px);
    overflow: hidden;
}

.slider__wrapper {
    display: flex;
    transition: var(--slider-transition);
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    filter: brightness(0.5);
    transition: var(--slider-transition);
}

/* Navegation buttons */
.navegation {
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.navegation__btn {
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    background-color: #ffffff33;
    transition: var(--hover-transition);
}

.navegation__btn:hover {
    background-color: var(--white);
}

.radio-btn--1:checked~.slider__item--1 {
    margin-left: 0;
}

.radio-btn--2:checked~.slider__item--1 {
    margin-left: -100%;
}

.radio-btn--3:checked~.slider__item--1 {
    margin-left: -200%;
}

.radio-btn--4:checked~.slider__item--1 {
    margin-left: -300%;
}

.radio-btn--1:checked~.navegation .navegation__btn--1 {
    background-color: rgb(255, 255, 255);
}

.radio-btn--2:checked~.navegation .navegation__btn--2 {
    background-color: rgb(255, 255, 255);
}

.radio-btn--3:checked~.navegation .navegation__btn--3 {
    background-color: rgb(255, 255, 255);
}

.radio-btn--4:checked~.navegation .navegation__btn--4 {
    background-color: rgb(255, 255, 255);
}

/* Slider control */
.slider__control {
    top: 50%;
    z-index: 1;
    font-size: 28px;
    padding: 50px 16px;
    border-radius: 7px;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.300);
    transition: var(--hover-transition);
}

.slider__control:hover {
    color: var(--white);
}

.slider__control:hover {
    background-color: #eeeeee27;
}

.slider__control--prev {
    left: var(--arrow-align);
}

.slider__control--next {
    right: var(--arrow-align);
}