:root {
    --moblie-menu-animation: 800ms scrollTop forwards;
    --bottom-navba-border: 3.2px solid var(--primary-color);
}

.c-navbar {
    padding: var(--navbar-padding);
    background-color: var(--white);
    background-color: var(--white);
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.200);
}

.c-navbar.is-fixed {
    position: fixed;
    width: 100%;
    background-color: red;
}

.c-brand {
    width: 95px;
    height: 95px;
}

.c-menu__link__active {
    color: var(--white);
    background-color: var(--primary-color);
}

.c-menu__arrow {
    display: none;
    font-size: 21px;
}

.c-search__input {
    padding: 9.3px 16px;
    font-size: 16px;
    border-radius: 7px 0px 0px 7px;
    border: 1px solid var(--gray-color);
    background-color: var(--searth-intup-bg);
}

.c-search {
    flex-grow: 0.1;
}

.c-search__btn {
    font-size: 18px;
    padding: 10px 16px;
    color: var(--white);
    background-color: var(--black);
    border-radius: 0px 7px 7px 0px;
    transition: var(--hover-transition);
}

.c-search__btn:hover {
    background-color: var(--primary-color);
}

.c-mobile {
    display: none;
}

.c-mobile__btn {
    font-size: 24px;
    padding: 10px 12px;
    border-radius: 7px;
    transition: var(--hover-transition);
    background-color: var(--white);
}

.c-mobile__btn:hover {
    background-color: var(--mobile-btn-color);
}

.c-mobile__icon--none {
    display: none;
}

/* Scroll top button */
.scroll-top {
    position: fixed;
    bottom: 50px;
    right: 40px;
}

.scroll-top__btn.is-visible {
    visibility: visible;
    opacity: 1;
}

.scroll-top__btn {
    font-size: 21px;
    border-radius: 100px;
    --btn-dimention: 60px;
    width: var(--btn-dimention);
    height: var(--btn-dimention);
    background-color: var(--btn-scrol-bg);
    transition: var(--hover-transition);
    /* opacity: 0;
    visibility: hidden; */
    transition: all 300ms ease-in-out;
}

.scroll-top__btn:hover {
    background-color: var(--primary-color);
}

@media (max-width: 1285px) {
    .c-navbar {
        padding: var(--navbar-padding2)
    }

    .c-brand {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 1120px) {
    .c-navbar {
        padding: var(--mobile-padding);
        border-bottom: var(--bottom-navba-border);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    .c-brand {
        width: 70px;
        height: 70px;
    }

    .c-menu--mobile {
        display: none;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--white);
        z-index: 1;
    }

    .c-menu--mobile.is-block {
        display: block;
    }

    .c-menu__list--mobile {
        display: none;
        width: 100%;
        flex-direction: column;
        padding: 20px;
        animation: var(--moblie-menu-animation);
        gap: 22px;
    }

    .c-menu__list--mobile.is-flex {
        display: flex;
    }

    .c-menu__item-wth100 {
        width: 100%;
    }

    .c-menu__link {
        width: 100%;
        padding: 7px 12px;
        font-weight: bolder;
    }

    .c-menu__arrow {
        display: block;
    }

    .c-search--mobile {
        display: none;
        position: absolute;
        top: 430px;
        left: 0;
        width: 100%;
        padding: 20px;
        animation: var(--moblie-menu-animation);
        z-index: 1;
    }

    .c-search--mobile.is-block {
        display: flex;
    }

    .c-mobile {
        display: flex;
    }
}

@keyframes scrollTop {
    0% {
        transform: translateY(50px);
        visibility: hidden;
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }
}