.recent-post__title {
    font-size: 17px;
}

.recent-post__header img {
    width: 80px;
    height: 80px;
    border-radius: 4px;
}

.recent-post__body {
    gap: 4px;
}

.recent-post__text {
    font-size: 15.2px;
    line-height: 1.3rem;
}