.header__wrapper {
    width: 100%;
    height: 480px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../img/test-img-4.jpg');
}

.c-page {
    position: absolute;
    top: 40%;
    text-align: center;
    transform: translateY(-62%);
    padding: var(--primary-padding-t-b) var(--primary-padding-l-r);
}

.c-page__title {
    font-size: 45px;
}

.c-page__details {
    color: #ffffffb0;
}

/* Responsivity */
@media (max-width: 1285px) {
    .c-page {
        padding: var(--secundary-padding-t-b) var(--secundary-padding-l-r);
    }
}

@media (max-width: 1120px) {
    .c-page {
        padding: var(--mobile-padding-t-b) var(--mobile-padding-l-r);
    }

    .c-page__title {
        font-size: 35px;
    }

}