/* Scroll top button */
.scroll {
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 1;
}

.scroll__btn {
    --btn-dimention: 60px;
    --btn-scroll-bg: #00000080;
    font-size: 21px;
    border-radius: 100px;
    width: var(--btn-dimention);
    height: var(--btn-dimention);
    background-color: var(--btn-scroll-bg);
    opacity: 0;
    visibility: hidden;
    transition: var(--hover-transition);
}

.scroll__btn.is-visible {
    visibility: visible;
    opacity: 1;
}

.scroll__btn:hover {
    background-color: var(--primary-color);
}

@media (width <=1050px) {
    .scroll {
        right: 20px;
    }
}

@media (width <=585px) {
    .scroll__btn {
        --btn-dimention: 50px;
        width: var(--btn-dimention);
        height: var(--btn-dimention);
        font-size: 20px;
    }
}