@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --red: red;
    --black: #000000;
    --white: #ffffff;
    --primary-color: #1088e9;
    --primary-color-hover: #0c70c2;
    --secundary-color: #003384;
    --tertiary-color: #dba622;
    --gray-color: #00000025;
    --link-gray-color: #00000090;
    --searth-intup-bg: #00000008;
    --mobile-btn-color: #00000011;
    --facebook-color: #3b5998;
    --whatsapp-color: #25d366;
    --youtube-color: #ff0000;
    --btn-scrol-bg: rgba(0, 0, 0, 0.400);
    --footer-bg-color: #14151a;
    --footer2-bg-color: #000000;
    --input-error-bg: #fef3f5;
    --input-border-color: #ced4da;
    /* Navbar padding top and bottom */
    --primary-padding-t-b: 9px;
    --secundary-padding-t-b: 5px;
    --mobile-padding-t-b: 8px;
    /* Navbar padding left and rigth */
    --primary-padding-l-r: 140px;
    --secundary-padding-l-r: 50px;
    --mobile-padding-l-r: 20px;
    /* Footer padding top and bottom */
    --primary-footer-padding-t-b: 50px;
    --secundary-footer-padding-t-b: 30px 20px;
    /* Transition */
    --hover-transition: all 150ms ease-in-out;
    /* Fonts */
    --nunito-sans-font: 'Nunito Sans', sans-serif;
    --poppins: 'Poppins', 'sans-serif';
    --poppins-Source: 'Source Sans 3', 'sans-serif';
}

/* Body */
.body-site {
    font-family: var(--nunito-sans-font);
}

.body-dashboard {
    font-family: var(--poppins);
    font-family: var(--poppins-Source);
}

/* Display flex */
.u-flex {
    display: flex;
}

.u-item-center {
    align-items: center;
}

.u-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-flex-column {
    display: flex;
    flex-direction: column;
}

.u-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Gap */
.u-gap-30 {
    gap: 30px;
}

.u-gap-25 {
    gap: 25px;
}

.u-gap-20 {
    gap: 20px;
}

.u-gap-15px {
    gap: 15px;
}

.u-gap-10 {
    gap: 10px;
}

/* Display grid  */
.u-grid {
    display: grid;
}

/* Display box */
.u-display-box {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.u-line-clamp1 {
    -webkit-line-clamp: 1;
}

.u-line-clamp2 {
    -webkit-line-clamp: 2;
}

/* Inputs */
.u-input {
    display: block;
    width: 100%;
    padding: .380rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--input-border-color);
    /* #dddddd */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    outline: none;
    transition: border-color .15s ease-in-out;
}

.u-input:focus {
    border: 1.5px solid var(--primary-color);
}

.u-input.is-red {
    border-color: var(--red);
    background-color: var(--input-error-bg);
}

.u-input.is-blue {
    background-color: #e8f0fe;
    border-color: var(--primary-color);
}

/* Inputs (Errors) */
.u-error {
    position: relative;
    display: none;
    top: 5px;
    color: red;
    font-size: 14px;
}

.u-error.is-flex {
    display: flex;
}

/* Buttons */
.u-btn {
    border: none;
    font-size: 17px;
    padding: 12px 18px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    transition: var(--hover-transition);
}

.u-btn-primary {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    font-weight: bolder;
}

.u-btn-primary:hover {
    color: var(--primary-color);
    background-color: transparent;
}

.u-btn-transparent {
    border: none;
    font-size: 17px;
}

/* Images */
.u-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Text  */
.u-center {
    align-items: center;
    text-align: center;
}

.u-text-break {
    word-break: break-all;
}

.u-title {
    font-size: 22px;
    color: var(--black);
    font-weight: 600;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.u-white {
    color: var(--white);
}

.u-black {
    color: var(--black);
}

.u-footer-title {
    font-size: 24px;
}

.u-blue-text {
    transition: var(--hover-transition);
}

.u-blue-text:hover {
    color: var(--primary-color);
}

.u-facebook {
    color: var(--facebook-color);
}

.u-whatsApp {
    color: var(--whatsapp-color);
}

.u-youtube {
    color: var(--youtube-color);
}

/* Form eye */
.u-form-eye {
    position: absolute;
    top: 52%;
    right: 10px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.eye-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
}

.u-form-eye:hover {
    background-color: #eee;
    ;
}

.u-form-eye.is-top {
    top: 40%;
}

/* Others */
.is-none,
.u-none {
    display: none;
}

.u-p-relative {
    position: relative;
}

.u-p-absolute {
    position: absolute;
}

.u-width-100 {
    width: 100%;
}