@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    /* Color */
    --red: #ff0000;
    --white: #fff;
    --black: #000;
    --primary-text-color: #000000ab;
    --primary-color: #1088e9;
    --primary-color-hover: #0c70c2;
    --secundary-color: #003384;
    --tertiary-color: #ffc83b;
    --facebook-color: #3b5998;
    --whatsapp-color: #25d366;
    --youtube-color: #ff0000;
    --primary-footer-bg: #14151a;
    --secundary-footer-bg: #000000;
    --input-error-bg: #fef3f5;
    --input-border-color: #ced4da;
    /* -- Font size -- */
    /* Title */
    --font-size-xxl: 45px;
    --font-size-xl: 40px;
    --font-size-lg: 35px;
    --font-size-md: 30px;
    --font-size-sm: 25px;
    --font-size-mobile: 17px;
    --primary-line-height: 1.6rem;
    /* Navbar padding top and bottom */
    --primary-padding-t-b: 8px;
    --mobile-padding-t-b: 5px;
    /* Navbar padding left and rigth */
    --primary-padding-l-r: 140px;
    --secundary-padding-l-r: 50px;
    --mobile-padding-l-r: 20px;
    /* Footer padding top and bottom */
    --primary-footer-padding-t-b: 50px;
    --secundary-footer-padding-t-b: 30px 20px;
    /* Transition */
    --hover-transition: all 150ms ease-in-out;
    /* Fonts */
    --poppins: 'Poppins', 'sans-serif';
    --nunito-sans-font: 'Nunito Sans', sans-serif;
    --poppins-Source: 'Source Sans 3', 'sans-serif';
}

/* Body font-family */
.body-site {
    font-family: var(--nunito-sans-font);
}

.body-dashboard {
    font-family: var(--poppins);
    font-family: var(--poppins-Source);
}

/* -- Components -- */
/* Menu */
.c-menu {
    gap: 20px;
}

.c-menu__list {
    gap: 30px;
}

.c-menu__item {
    width: 100%;
}

.c-menu__link {
    border-radius: 5px;
    background-color: transparent;
    transition: var(--hover-transition);
}

.c-menu__link--navbar {
    color: var(--black);
    font-size: 17.5px;
    padding: 13px 20px;
    font-weight: 500;
}

.c-menu__link--navbar:hover,
.c-menu__link--navbar.is-active {
    color: var(--white);
    background-color: var(--primary-color);
}

.c-menu__link--footer {
    color: var(--white);
    padding: 5px;
}

.c-menu__link--footer:hover {
    color: var(--primary-color);
}

@media (width <=1150px) {
    .c-menu__link--navbar {
        padding: 9px 12px;
        font-weight: bolder;
    }
}

/* Buttons */
.c-btn {
    color: var(--white);
    border: none;
    padding: 12px 25px;
    border-radius: 4px;
    text-align: center;
    word-wrap: break-word;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    transition: background-color .2s, box-shadow .2s, color .2s, -webkit-box-shadow .2s;
}

.c-btn--transparent {
    border: none;
    background-color: transparent;
}

.c-btn--primary {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    align-self: flex-start;
}

.c-btn--primary:hover {
    color: var(--primary-color);
    background-color: transparent;
}

.c-btn--small {
    font-size: 16px;
    padding: 10px 17px;
}

/* Collapse */
.c-collapse__wrapper {
    cursor: pointer;
    background-color: var(--white);
}

.c-collapse__header {
    padding: 14px 20px;
    transition: all 500ms ease-in-out;
}

.c-collapse__title {
    font-size: 25px;
}

.c-collapse__arrow {
    font-size: 25px;
    transition: all 400ms ease-in-out;
}

.c-collapse__body {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}

.c-collapse__answer {
    padding: 20px;
}

.c-collapse__answer--sm-padding {
    font-size: 20px;
    padding: 20px 20px 0px 20px;
}


.c-collapse__wrapper.is-visible>.c-collapse__header .c-collapse__arrow {
    transform: rotate(180deg);
}

.c-collapse__wrapper.is-visible>.c-collapse__header,
.c-collapse__body {
    border: none;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.100);
}

.c-collapse__wrapper.is-visible>.c-collapse__body {
    border: none;
    max-height: 300px;
    visibility: visible;
    margin-bottom: 30px;
}

/* Input */
.c-input {
    display: block;
    width: 100%;
    padding: .380rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: var(--white);
    background-clip: padding-box;
    border: 1px solid var(--input-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    outline: none;
    transition: border-color .15s ease-in-out;
}

.c-input--primary {
    padding: 10px 14px;
}

.c-input:focus {
    border: 1.5px solid var(--primary-color);
}

.c-input.is-red {
    border-color: var(--red);
    background-color: var(--input-error-bg);
}

.c-input.is-blue {
    background-color: #e8f0fe;
    border-color: var(--primary-color);
}

.c-input-error {
    position: relative;
    display: none;
    top: 5px;
    color: red;
    font-size: 14px;
}

.c-input-error.is-flex {
    display: flex;
}

/* Eye icon */
.c-eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.c-eye-icon:hover {
    background-color: #eee;
}

.c-eye-icon__item {
    position: absolute;
    top: 50%;
    transform: translateY(-43%);
}

.c-eye-icon.is-top {
    top: 37.5%;
}

/* Images */
.c-img {
    display: block;
    max-width: 100%;
    height: auto;
    font-style: italic;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.c-img-responsive {
    --dimention: 100%;
    width: var(--dimention);
    height: var(--dimention);
    object-fit: cover;
}

.c-img--radius-full {
    border-radius: 100px;
}

/* Page */
.c-page {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    padding: var(--primary-padding-t-b) var(--primary-padding-l-r);
}

.c-page--left {
    left: 0;
    transform: translateX(0) translateY(-30%);
}

.c-page__title {
    font-size: var(--font-size-xxl);
}

.c-page__details {
    color: #ffffffb0;
    font-size: 17px;
}

.c-page__details--left {
    max-width: 800px;
}

/* Text */
.c-text {
    font-size: 17px;
    line-height: var(--primary-line-height);
    color: var(--primary-text-color);
}

/* Title */
.c-title {
    font-size: var(--font-size-xl);
    padding: 0 var(--mobile-padding-l-r);
}

@media (width <=1320px) {
    .c-page {
        padding: var(--secundary-padding-t-b) var(--secundary-padding-l-r);
    }
}

@media (width <=1150px) {
    .c-page {
        transform: translateY(-10%) translateX(-50%);
        padding: var(--mobile-padding-t-b) var(--mobile-padding-l-r);
    }
}

@media (width <=992px) {
    .c-page__title {
        font-size: var(--font-size-xl);
    }

    .c-title {
        font-size: var(--font-size-lg);
    }
}

@media (width <=768px) {
    .c-collapse__header {
        padding: 10px 20px;
    }

    .c-collapse__title {
        font-size: 22px;
    }

    .c-page__title {
        font-size: var(--font-size-lg);
    }

    .c-title {
        font-size: var(--font-size-md);
    }
}

@media (width <=576px) {
    .c-page__title {
        font-size: var(--font-size-md);
    }

    .c-page__details {
        font-size: var(--font-size-mobile);
    }

    .c-title {
        font-size: var(--font-size-sm);
    }

    .c-text {
        line-height: 1.6rem;
        font-size: var(--font-size-mobile);
    }
}

@media (width <=488px) {
    .c-page {
        transform: translateY(-15%) translateX(-50%);
    }

    .c-page__title {
        font-size: 27px;
    }
}

/* -- Layouts -- */
/* Display box */
.l-box {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.l-line-clamp-1 {
    -webkit-line-clamp: 1;
}

.l-line-clamp-2 {
    -webkit-line-clamp: 2;
}

/* Display flex */
.l-flex {
    display: flex;
}

.l-align-center {
    align-items: center;
}

.l-align-baseline {
    align-items: baseline;
}

.l-flex-wrap {
    flex-wrap: wrap;
}

.l-flex-column {
    flex-direction: column;
}

.l-column-reverse {
    flex-direction: column-reverse;
}

.l-flex-center {
    justify-content: center;
}

.l-row-reverse {
    flex-direction: row-reverse;
}

.l-space-between {
    justify-content: space-between;
}

/* flex Gap */
.l-gap-40 {
    gap: 40px;
}

.l-gap-35 {
    gap: 35px;
}

.l-gap-30 {
    gap: 30px;
}

.l-gap-25 {
    gap: 25px;
}

.l-gap-20 {
    gap: 20px;
}

.l-gap-15px {
    gap: 15px;
}

.l-gap-10 {
    gap: 10px;
}

/* Display grid  */
.l-grid {
    display: grid;
}

.l-grid-2-columns {
    grid-template-columns: repeat(2, 1fr);
}

.l-col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.l-col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.l-col-4 {
    grid-template-columns: repeat(4, 1fr);
}

/* Grid gap */
.u-gap-row {
    column-gap: 30px;
}

/* Margin & padding */
.l-main {
    margin: 100px 0px 100px 0px;
    gap: 50px;
}

.l-main__item {
    gap: 100px;
}

.l-section {
    padding: 0 var(--primary-padding-l-r);
}

@media (width <=1320px) {
    .l-section {
        padding: 0 var(--secundary-padding-l-r);
    }
}

@media (width <=1150px) {
    .l-section {
        padding: 0 var(--mobile-padding-l-r);
    }
}

/* -- Utilities -- */
.u-hover {
    transition: var(--hover-transition);
}

.u-hover:hover {
    border: none;
    transform: translateY(-15px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.200);
}

.u-border {
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    background-color: var(--white);
}

/* Position */
.u-relative {
    position: relative;
}

.u-absolute {
    position: absolute;
}

/* Visibility */
.u-none,
.is-none {
    display: none;
}

.u-width-100 {
    width: 100%;
}

/* -- Text or txt -- */
/* Font size */
.u-txt-24 {
    font-size: 24px;
}

.u-txt-bold {
    font-weight: 800;
}

.u-txt-bolder {
    font-weight: 1000;
}

.u-txt-break {
    word-break: break-all;
}

/* Color */
.u-txt-white {
    color: var(--white);
}

.u-txt-black {
    color: var(--black);
}

.u-txt-center {
    text-align: center;
}

.u-txt-gold {
    background: linear-gradient(to right, #ffad00, #ffbe25, #ffe081, #ffbe25, #ffad00);
    background-clip: text;
    color: transparent;
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.u-facebook-color {
    color: var(--facebook-color);
}

.u-whatsApp-color {
    color: var(--whatsapp-color);
}

.u-youtube-color {
    color: var(--youtube-color);
}