/* Display flex */
.u-flex {
    display: flex;
}

.u-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Display grid  */
.u-grid {
    display: grid;
}

/* Display webkit box */
.u-display-box {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.u-line-clamp1 {
    -webkit-line-clamp: 1;
}

.u-line-clamp2 {
    -webkit-line-clamp: 2;
}

/* Outros */
.u-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}