.card-body-padding {
    padding: 30px;
}

.text-center {
    position: relative;
}

.profile-user-img {
    width: 140px;
    height: 140px;
}

.camera-icon {
    position: absolute;
    bottom: 0;
    left: 200px;
    width: 43px;
    height: 43px;
    font-size: 21px;
    border-radius: 100px;
    color: black;
    border: 3px solid var(--primary-color);
    background: white;
}